@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1f2937;
  padding-top: 16px;
  padding-bottom: 112px;
}

.navbar {
  display: flex;
  list-style: none;
}

.logo {
  margin-right: auto;
}

.page-link {
  margin-left: 18px;
}

.logo a {
  color: #f9faf8;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.page-link a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

.cta {
  display: flex;
  margin-top: 80px;
  color: #f9faf8;
}

.cta-info {
  flex: 1;
}

.cta-info h1 {
  font-size: 48px;
}

.cta-info p {
  font-size: 18px;
  color: #e5e7eb;
}

.cta-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
}

.cta-button {
  color: #f9faf8;
  background-color: #3882f6;
  font-weight: bold;
  font-family: 'Roboto', Arial, sans-serif;
  padding: 6px 42px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.middle {
  display: flex;
  justify-content: center;
  color: #1f2937;
}

.middle h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 48px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin: 48px 0;
}

.card {
  width: 150px;
}

.card-image {
  height: 150px;
  border: 3px solid #187bcd;
  border-radius: 15px;
}

.card-text {
  text-align: center;
  margin-top: 8px;
}

.quote {
  display: flex;
  justify-content: center;
  color: #1f2937;
  background: #e5e7eb;
  padding: 128px 0;
}

.quote p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 16px;
}

.author-name {
  display: flex;
  justify-content: flex-end;
  margin-right: 64px;
  font-weight: bold;
  font-size: 22px;
  font-style: normal;
}

.container {
  width: 50%;
}
