@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1f2937;
  padding-top: 16px;
  padding-bottom: 96px;
}

.navbar {
  display: flex;
  list-style: none;
}

.logo {
  margin-right: auto;
}

.page-link {
  margin-left: 18px;
}

.logo a {
  color: #f9faf8;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.page-link a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

.cta {
  display: flex;
  margin-top: 80px;
  color: #f9faf8;
}

.cta-info {
  flex: 1;
}

.cta-info h1 {
  font-size: 48px;
}

.cta-info p {
  font-size: 18px;
  color: #e5e7eb;
}

.cta-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
}

.cta-button {
  color: #f9faf8;
  background-color: #3882f6;
  font-weight: bold;
  font-family: 'Roboto', Arial, sans-serif;
  padding: 6px 42px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.container {
  width: 50%;
}
